.network-display {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border-radius: 4px;
  min-height: 25px;
  cursor: pointer;
  &__content {
    margin: 0 8px;
    color: #12121E;
    font-weight: 700;
  }
  &__icon {
    width: 10px;
    height: 10px;
    background-image: url(/images/icons/caret-down.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}
