.networks-tab {
  &__content {
    display: flex;
    height: 100%;
    max-width: 739px;
    margin: 15px 15px;
    border-radius: 10px;
    border: 1px solid #d8d8d8;
    background-color: #fff;
    justify-content: space-between;
    flex-direction: column;
    overflow-x: hidden;
    align-items: center;
  }

  &__body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f9f9fb;
    padding: 0;
  }

  &__network-form {
    flex-direction: column;
    justify-content: space-between;

    .page-container__footer {
      border-top: none;
      width: 93%;

      footer {
        padding: 10px 0;
      }
    }

    display: flex;
    flex: auto;
    max-width: 100%;
    max-height: 100%;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    margin-right: 0;
  }

  &__network-form-row {
    width: 93%;

    &--warning {
      @include H7;

      background-color: #fefae8;
      border: 1px solid #ffd33d;
      border-radius: 5px;
      box-sizing: border-box;
      padding: 12px;
      margin: 12px 0;
      width: 93%;
    }
  }

  &__network-form-label {
    display: flex;
    align-items: center;
  }

  &__network-form-label-text {
    @include H6;

    color: #000;
  }

  &__network-form-label-tooltip {
    @include H7;

    margin-left: 5px;
  }

  &__networks-list {
    flex: 1;
    overflow-y: auto;
    width: 100%;
  }

  &__networks-list-popup-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 12px;
    padding-bottom: 12px;
    border-top: 1px solid #d8d8d8;

    .button {
      width: 178px;
    }
  }

  &__add-network-header-button-wrapper {
    justify-content: center;

    .button {
      width: 138px;
      padding: 10px;
    }

    display: none;
  }

  &__networks-list--selection {
    display: none;
  }

  &__networks-list-item {
    display: flex;
    position: relative;
    align-items: center;
    cursor: pointer;

    &:hover {
      background: #f9f9f9;
    }

    .color-indicator {
      &:hover {
        cursor: pointer;
      }

      margin: 0 4px 0 10px;
    }

    padding: 20px 23px 21px 17px;
    border-bottom: 1px solid #d8d8d8;
  }

  &__networks-list-item:last-of-type {
    border-bottom: none;
  }

  &__networks-list-name {
    @include Paragraph;

    margin-left: 11px;
    color: #6a737d;
    width: 70%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    align-items: center;

    &:hover {
      cursor: pointer;
    }

    svg {
      margin-left: 10px;
      padding-top: 3px;
    }
  }

  &__networks-list-arrow {
    display: block;
    background-image: url('/images/caret-right2.svg');
    width: 16px;
    height: 16px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    right: 10px;
    cursor: pointer;
    position: absolute;
    margin: 0 5px;

    [dir='rtl'] & {
      transform: rotate(180deg);
    }
  }

  &__networks-list-name--selected {
    font-weight: bold;
    color: #000;
  }

  &__networks-list-name--disabled {
    font-weight: 300;
    color: #cdcdcd;
  }

  &__network_icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #454e5d;
  }
}

.network-form {
  &__footer {
    display: flex;
    flex-flow: row nowrap;
    padding: 0.75rem 0;
    width: 93%;

    .btn-default {
      margin-right: 0.375rem;
    }

    .btn-secondary {
      margin-left: 0.375rem;
    }

    .btn-danger {
      margin-right: 3.75rem;
    }
  }
}
