@import "styles/imports";

.TokenInfoCard {
  @include one-hairline-border(all, 4px);

  margin: 8px 16px;
  background: #eee;
  padding: 8px;
}

.TokenInfoCard__content {
  display: flex;
  align-items: center;
  z-index: 1;
  position: relative;
}

.TokenInfoCard__icon {
  @include one-circle(25px);

  background: #888;
  margin-right: 8px;
}

.TokenInfoCard__footer {
  position: relative;
  z-index: 1;
}

.TokenInfoCard__address {
  font-size: 10px;
  color: #888;
}
