@import 'token-list-placeholder/index';

.token-list {
  &__title {
    @include H7;
  }

  &__tokens-container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 12px;
    border: 1px solid #E7E7EE;
    margin-top: 10px;
  }

  &__token {
    &:hover{
      background-color: #f9f9f9;
    }
    transition: 200ms ease-in-out;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    margin-top: 8px;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid transparent;
    position: relative;

    // &:hover,
    // &:focus {
    //   border-color: rgba($primary, 0.3);
    // }

    // &--selected {
    //   border-color: rgba($primary, 0.8) !important;
    // }

    // &--disabled {
    //   opacity: 0.4;
    //   pointer-events: none;
    // }
  }

  &__token-info {
    display: flex;
    flex-direction: row;
  }

  &__token-button {
    color: $primary;
    font-size: 14px;
    font-weight: 700;
    flex-shrink: 0;
  }

  &__token-button--added {
    color: #D3D3DE;
  }


  &__token-icon {
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-radius: 50%;
    background-color: $white;
    box-shadow: 0 2px 4px 0 rgba($black, 0.24);
    margin-right: 12px;
    flex: 0 0 auto;
  }

  &__token-data {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    min-width: 0;
  }

  &__token-name {
    /*rtl:ignore*/
    //direction: ltr;
    //overflow: hidden;
    //text-overflow: ellipsis;
    //white-space: nowrap;
  }

  &__token-address {
    color: #A0A0B0;
    font-size: 14px;
  }
}
