@import "styles/imports";


.ImportAccountsList_item {
  > input[type=checkbox] {
    transform: scale(2);
  }
  display: flex;
  align-items: center;
  padding: 4px 0;
}

.ImportAccountsList_itemContent {
  font-size: 14px;
  padding-left: 12px;

  small {
    font-size: 12px;
    color: #888;
  }
}
